@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Ibarra+Real+Nova&family=Rock+Salt&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Lora:ital@1&display=swap');


h1 {
    font-family: Rock Salt, cursive;
	text-shadow: 2px 3px 1px #f25c17;
}

:root {
    --primary-color: #eea673;
    --secondary-color: #2D936C;
    --accent1-color: #5FAD41;
    --accent2-color: #000080;
    --accent3-color: #EEE5E9;
    --heading2-font: 'Bona Nova',+serif;
    --paragraph2-font: Lato, 'Lora',+serif;
    --heading-font: 'Rock Salt', cursive;
    --paragraph-font: 'Habibi', 'Ibarra Real Nova', serif;
    --nav-background-color: #ff8c00;
    --nav-link-color: rgb(76, 126, 242);
    --nav-hover-background-color: white;
    --nav-hover-link-color: #ff8c00;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading2-font);
    color: var(--accent2-color);
}
header {
    padding: 20px;
    background-color: var(--primary-color);
}
p {
    padding: .7em;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2em;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.JoinUs {
    color: var(--nav-link-color);
    text-decoration: none
}
.JoinUs:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}