* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
background-color: steelblue;
padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
    text-align: center;
	/* font-size: 1.5rem; */
	text-shadow: 3px 3px 5px #4ebd93;
}
main {
    margin: 1rem;
}
main img {
    width: 100px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1px;
    box-shadow: 0 0 30px #4ebd93;
    float: right;
}
p {
    padding: 0;
    font-size: 16px;
}
aside {
    border: dotted 1px #aa6245;
    /* background-color: khaki; */ 
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 361px;
    left: 550px;
    color: rgb(14, 134, 12);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-shadow: 4px 3px 5px #f5f9f7
}
aside img {
    float: right;
    width: 150px;
    height: auto;
    margin-left: 1em;
}
footer {
    margin-top: 1em;
    border-top: dotted 2px rgb(135, 199, 222);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    background: radial-gradient(hwb(157 4% 7%), #4567aa);
}
.box.text {
    color: #f7ff0a;
}